.navbar-collapse .navbar {
    background: #206bc429;
}
div#div-card-body {
    background: #206bc4;
    border-top: 3px solid #206bc4;
    color: white;
}
.subheader {
    color: white;
}
.card-body {
    border-top: 3px solid #206bc4;
}
li.nav-item.active {
    background: #206bc438;
}