<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ... -->
<a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="nav-link">[[#{navigation.login}]]</a>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="nav-link">
    <input th:value="#{navigation.logout}" type="submit" class="unset" />
</form>
<!-- ... -->
</html>