<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css?1684106062" rel="stylesheet"/>
    <link href="/css/tabler-flags.min.css?1684106062" rel="stylesheet"/>
    <link href="/css/tabler-payments.min.css?1684106062" rel="stylesheet"/>
    <link href="/css/tabler-vendors.min.css?1684106062" rel="stylesheet"/>
    <link href="/css/demo.min.css?1684106062" rel="stylesheet"/>

    <script type="text/javascript" src="/js/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <script src="/js/jquery.dataTables.min.js"></script>
<!--    <script src="/js/jquery.tabletojson.min.js"></script>-->

    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
      .table-responsive {
          padding: 12px;
      }
      .navbar-brand-image {
         border-radius: 5px;
      }
      table#tbl_university > thead > tr > th {
          background-color: #0e0d0d;
          color: white;
          font-family: sans-serif;
          padding: 10px;
          margin-top: 18px !important;
      }
      #tbl_university_wrapper, #tbl_university {
          padding-top: 20px;
      }
      table.dataTable tbody tr {
          background-color: #bdb7b73d;
          border: navajowhite;
      }
      table#tbl_representative > thead > tr > th {
          background: #0e0d0d;
          color: white;
      }
    </style>
  </head>
  <body>
    <script src="/js/demo-theme.min.js?1684106062"></script>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md d-print-none" >
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/api/dashboardDetails">
              <img src="/img/university-logo.jpg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="d-none d-md-flex">
              <a href="?theme=dark" class="nav-link px-0 hide-theme-dark" title="Enable dark mode" data-bs-toggle="tooltip"
                 data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
              </a>
              <a href="?theme=light" class="nav-link px-0 hide-theme-light" title="Enable light mode" data-bs-toggle="tooltip"
                 data-bs-placement="bottom">
                <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
              </a>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm" style="background-image: url('/img/profile.png')"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="/api/dashboardDetails" class="dropdown-item" id="profile_page"><span th:utext="${userId}"></a>
                <a href="/api/profile" class="dropdown-item" id="profile_page">Profile</a>
                <a href="/api/dashboardDetails" class="dropdown-item">Dashboard</a>
                <div class="dropdown-divider"></div>
                <a href="/api/login" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <header class="navbar-expand-md">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="./dashboardDetails" >
                    <span class="nav-link-title">
                      Dashboard
                    </span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="./universityDetails" >
                    <span class="nav-link-title">
                      University Details
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./studentDetails" >
                    <span class="nav-link-title">
                      Student Details
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./appointmentDetails" >
                    <span class="nav-link-title">
                      Appointments
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                  University Details
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#">
                    <span class="glyphicon glyphicon-refresh"></span>
                  </a>
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Add University
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table id="tbl_university" class="table table-striped" style="width:100%">
                      <thead>
                      <tr>
                        <th>University Name</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>state</th>
                        <th>Country Code</th>
                        <th>Representative Name</th>
                        <th>Position</th>
                        <th>Admission Intakes</th>
                        <th>Course Type</th>
<!--                        <th>Username</th>-->
<!--                        <th>Password</th>-->
                        <th></th>
                      </tr>
                      </thead>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- New university modal window  -->
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New University</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label" id="txt_message" style="color:green"></label>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label class="form-label">University Name</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="University Name" required id="txt_university">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Location" id="txt_location">
              </div>
              <div class="col-lg-6">
                <label class="form-label">State</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="State" required id="txt_state">
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label class="form-label">Description</label>
                <textarea class="form-control" rows="3" required="true" id="txt_description"></textarea>
              </div>
            </div>

            <label class="form-label">Admission Intakes</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Summer" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Summer</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Spring" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Spring</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Fall" class="form-selectgroup-input" required>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Fall</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>

            <label class="form-label">Courses Offered</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="course-type" value="Masters" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Masters</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="course-type" value="Bachelors" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Bachelors</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="course-type" value="PG-Diplamo" class="form-selectgroup-input" required>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">PG-Diplamo</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-6">
                  <label class="form-label">Is Recommended University</label>
                  <select class="form-select" id="uni_recommend">
                    <option value="true" selected>FALSE</option>
                    <option value="true">TRUE</option>
                  </select>
                </div>
              </div>
            </div>
<!--            <div class="row">-->
<!--              <div class="col-lg-12">-->
<!--                <div class="mb-6">-->
<!--                  <label class="form-label">Representative Names</label>-->
<!--                  <select class="form-select" id="rep_names">-->
<!--                  </select>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <!-- Add Representative form -->
            <div class="row">
              <div class="col-lg-3">
                <label class="form-label">Representative Name</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Representative Name" id="txt_rep_name">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Username" id="txt_rep_uname">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="example-text-input" placeholder="Password" id="txt_rep_psd">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Phone Number" id="txt_rep_phone">
              </div>
<!--              <div class="col-lg-3">-->
<!--                <label class="form-label">Phone Number</label>-->
<!--                <input type="password" class="form-control" name="example-text-input" placeholder="Password" id="txt_rep_availability">-->
<!--              </div>-->
              <div class="mb-3">
                <label class="form-label">Availability</label>
                <select class="form-select" id="rep_availability">
                  <option value="8:00-5:00" selected>8:00-5:00</option>
                  <option value="8:30-5:30" selected>8:30-5:30</option>
                  <option value="9:00-6:00" selected>9:00-6:00</option>
                  <option value="9:30-6:30" selected>9:30-6:30</option>
                  <option value="10:00-7:00" selected>10:00-7:00</option>
                </select>
              </div>
              <div class="col-lg-3">
                <label class="form-label"></label>
                <button class="btn btn-primary" id="btn_add_rep">Add</button>
              </div>
            </div><br>
            <!-- Representative details table-->
            <div class="row">
              <div class="col-lg-12">
                <table id="tbl_representative" class="table table-striped" style="width:100%">
                  <thead>
                  <tr>
                    <th>repName</th>
                    <th>username</th>
                    <th>password</th>
                    <th>phonenumber</th>
                    <th>availability</th>
                    <th>Info</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
            <!-- End of Add Representative form -->
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
<!--            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">-->
<!--            <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>-->
<!--              Save-->
<!--            </a>-->
            <button type="button" class="btn btn-primary" id="btn_save">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- university details modal window  -->
    <div class="modal modal-blur fade" id="modal-report-university" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">University Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label" id="txt_uni_message" style="color:green"></label>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <label class="form-label">University Name</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="University Name" required id="txt_university_name">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Location" id="txt_uni_location">
              </div>
              <div class="col-lg-6">
                <label class="form-label">State</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="State" required id="txt_uni_state">
              </div>
            </div>

            <div class="col-lg-12">
              <div>
                <label class="form-label">Description</label>
                <textarea class="form-control" rows="3" required="true" id="txt_uni_description"></textarea>
              </div>
            </div>

            <label class="form-label">Admission Intakes</label>
            <div class="form-selectgroup-boxes row mb-3">
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Summer" class="form-selectgroup-input" checked>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Summer</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Spring" class="form-selectgroup-input">
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Spring</span>
                    </span>
                  </span>
                </label>
              </div>
              <div class="col-lg-4">
                <label class="form-selectgroup-item">
                  <input type="checkbox" name="report-type" value="Fall" class="form-selectgroup-input" required>
                  <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Fall</span>
                    </span>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="mb-6">
                  <label class="form-label">Representative Names</label>
                  <select class="form-select" id="txt_rep_names">
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="example-text-input" placeholder="Username" id="txt_rep_username">
              </div>
              <div class="col-lg-6">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="example-text-input" placeholder="Password" id="txt_rep_password">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
              Cancel
            </a>
            <button type="button" class="btn btn-primary" id="btn_uni_save">Save</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of university details modal window-->
    <!-- Libs JS -->
    <script src="/libs/apexcharts/dist/apexcharts.min.js?1684106062" defer></script>
    <script src="/libs/jsvectormap/dist/js/jsvectormap.min.js?1684106062" defer></script>
    <script src="/libs/jsvectormap/dist/maps/world.js?1684106062" defer></script>
    <script src="/libs/jsvectormap/dist/maps/world-merc.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js?1684106062" defer></script>
    <script src="/js/demo.min.js?1684106062" defer></script>

    <script>

        $(document).ready(function() {
          // Data table creation
          $("#tbl_university").DataTable();
          var testDataUrl = "/api/getAllUniversities"
          loadData();
          function loadData() {
            $.ajax({
              type: 'POST',
              url: testDataUrl,
              contentType: "text/plain",
              dataType: 'json',
              success: function (data) {
                myJsonData = data;
                populateDataTable(myJsonData);
              },
              error: function (e) {
                console.log("There was an error with your request...");
                console.log("error: " + JSON.stringify(e));
              }
            });
          }

          // populate the data table with JSON data
          function populateDataTable(data) {
            console.log("populating university data table...");
            console.log(data);
            $("#tbl_university").DataTable().clear();
            var length = data.universities.length;
            for(var i = 0; i < length; i++) {
              var university = data.universities[i];
              $('#tbl_university').dataTable().fnAddData( [
                university.universityname,
                university.description,
                university.location,
                university.state,
                university.countrycode,
                university.repname,
                university.position,
                university.admissionintake,
                university.coursetype,
<!--                university.username,-->
<!--                university.password,-->
                '<button class="btn btn-primary" id="btn-tr-view-data" data-bs-toggle="modal">View</button>'
              ]);
            }
            console.log(data.representatives);
            var mySelect = $('#rep_names');
            $.each(data.representatives, function(val, text) {
                mySelect.append(
                    $('<option></option>').val(val).html(text)
                );
            });
          }
          // Data table creation END -----

          // onclick view button in university details table...
          $('#tbl_university').on('click','button',function(){
            console.log("on click btn-tr-view-data...")
            var $row = $(this).closest("tr");
            console.log($row);
            var $tds = $row.find("td");
            console.log($tds);
            $('#txt_university_name').val($tds[0].innerText);
            $('#txt_uni_location').val($tds[2].innerText);
            $('#txt_uni_state').val($tds[3].innerText);
            $('#txt_uni_description').val($tds[1].innerText);
            $('#txt_university_name').val($tds[0].innerText);
            $('#modal-report-university').modal('show');
          });
          // End of View Details button...

          // onclick btn_add_rep Add button to add representative.
          $('#btn_add_rep').click(function(){
            console.log("On click ADD representative...");
            var repName = $('#txt_rep_name').val();
            var repUserName = $('#txt_rep_uname').val();
            var repPsd = $('#txt_rep_psd').val();
            var repPhone = $('#txt_rep_phone').val();
            var repAvailability = $('#rep_availability').find(":selected").val();
            var data_tr = '<tr><td>'+repName+'</td><td>'+repUserName+'</td><td>'+repPsd+'</td><td>'+repPhone+'</td><td>'+repAvailability+'</td><td><div class="col-lg-3"><button class="btn btn-danger" id="btn_remove_rep">Remove</button></div></td></tr>';
            $('#tbl_representative').append(data_tr);
            $('#txt_rep_name').val('');
            $('#txt_rep_uname').val('');
            $('#txt_rep_psd').val('');
          });

          // btn_remove_rep onclick remove representative from table row.
          $('#tbl_representative').on('click', 'button#btn_remove_rep', function(){
            console.log("on click btn_remove_rep...")
            var $row = $(this).closest("tr").remove();
          });

          // onclick for save button in add university
          $('#btn_save').click(function(){
            console.log("On click save university...");
            var university = $('#txt_university').val();
            var description = $('#txt_description').val();
            var location = $('#txt_location').val();
            var username = $('#txt_username').val();
            var password = $('#txt_username').val();
            var state = $('#txt_state').val();
            var repname = $('#rep_names :selected').text();
            var checkboxValues = [];
            $('input[name="report-type"]:checked').map(function() {
                checkboxValues.push($(this).val());
            });
            var courseTypeValues = [];
            $('input[name="course-type"]:checked').map(function() {
                courseTypeValues.push($(this).val());
            });
            var isRecommended = $('#uni_recommend').find(":selected").val();
            // convert representative table into json
            var header = [];
            var rows = [];
            $("#tbl_representative thead tr th").each(function (i, th) {
                header.push($(th).html());
            });
            $("#tbl_representative tr:has(td)").each(function (i, tr) {
                var row = {};
                $(tr).find('td').each(function (j, td) {
                    row[header[j]] = $(td).html();
                });
                rows.push(row);
            });
            console.log('Table Rows:', rows);
            console.log(JSON.stringify(rows));
            console.log(university, description, location, username, password, checkboxValues, courseTypeValues);

            var payload = {
                          "admissionintake": checkboxValues.toString(),
                          "description": description,
                          "location": location,
                          "password": password,
                          "repname": "",
                          "universityname": university,
                          "username": username,
                          "state":state,
                          "course":courseTypeValues.toString(),
                          "isRecommended": isRecommended.toString(),
                          "representatives":JSON.stringify(rows)
                        }
            saveUniversity();
            function saveUniversity() {
              console.log("Inside saveUniversity...")
              $.ajax({
                type: 'POST',
                url: '/api/addUniversity',
                contentType: "application/json",
                dataType: 'json',
                data: JSON.stringify(payload),
                success: function (data) {
                  myJsonData = data;
                  console.log(data);
                  $('#txt_message').html(data.message);
                },
                error: function (e) {
                  console.log("There was an error inside saveUniversity...");
                  console.log("error: " + JSON.stringify(e));
                }
              });
            }
            console.log(payload);
          });
        });

    </script>
  </body>
</html>